@font-face {
  font-family: 'Gotham';
  src: url("/fonts/Gotham-Book.woff2") format("woff2"), url("/fonts/Gotham-Book.woff") format("woff"), url("/fonts/Gotham-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url("/fonts/Gotham-Black.woff2") format("woff2"), url("/fonts/Gotham-Black.woff") format("woff"), url("/fonts/Gotham-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url("/fonts/Gotham-Ultra.woff2") format("woff2"), url("/fonts/Gotham-Ultra.woff") format("woff"), url("/fonts/Gotham-Ultra.ttf") format("truetype");
  font-weight: 999;
  font-style: normal;
}

@font-face {
  font-family: "DIN Pro";
  src: url("/fonts/DINPro-Bold.woff2") format("woff2"), url("/fonts/DINPro-Bold.woff") format("woff"), url("/fonts/DINPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Pro';
  src: url("/fonts/DINPro.woff2") format("woff2"), url("/fonts/DINPro.woff") format("woff"), url("/fonts/DINPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FS Elliot Pro";
  src: url("fonts/FSElliotProHeavy.ttf");
  font-style: normal;
  font-weight: 900;
}

body {
  background: #1D1E2A;
}

ul {
  list-style-type: none;
}

header {
  max-width: 1989px;
  margin: 0 auto;
}

header .head {
  display: flex;
  margin: 16px 15px;
  justify-content: center;
}

header .head .logo__bonus__wrapper .logo__container {
  width: 110px;
  height: 121px;
  background-color: #191A24;
  border-radius: 12px 12px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .head .logo__bonus__wrapper .logo {
  display: block;
}

header .head .logo__bonus__wrapper .bonuses__container {
  width: 110px;
  height: 104px;
  background-color: #242633;
  border-radius: 0px 0px 0px 12px;
  text-align: center;
}

header .head .logo__bonus__wrapper .bonuses__img {
  margin-top: 20px;
}

header .head .logo__bonus__wrapper .bonuses__text {
  font-family: "Gotham";
  font-weight: 999;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFDEF8;
  margin-top: 9px;
}

header .head .top__menu--wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
}

header .head .top__menu--wrapper .statistic__ul {
  display: flex;
  margin: 0;
  margin-left: 33px;
  padding: 0;
}

header .head .top__menu--wrapper .statistic__ul .statistic__container__list {
  display: flex;
  align-items: start;
  margin-right: 22px;
}

header .head .top__menu--wrapper .statistic__ul .statistic__container__list img {
  display: inline-block;
  filter: drop-shadow(0px -1px 27px rgba(121, 74, 251, 0.88));
}

header .head .top__menu--wrapper .statistic__ul .statistic__container__list .number {
  display: inline-block;
  font-family: "Gotham";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #CECFDE;
  margin-left: 9px;
  text-transform: uppercase;
}

header .head .top__menu--wrapper .statistic__ul .statistic__container__list .number p {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #60627A;
  margin: 0;
}

header .head .top__menu--wrapper .check__sound {
  width: 36px;
  height: 36px;
  border: 1px solid #2A2B35;
  box-sizing: border-box;
  border-radius: 10px;
  margin-left: 11px;
  background: url(/img/sound.svg) no-repeat center;
  position: relative;
}

header .head .top__menu--wrapper .check__sound::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 13px;
  background: url(/img/on.svg) no-repeat;
  top: 0px;
  right: -10px;
}

header .head .top__menu--wrapper .top__menu__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .head .top__menu--wrapper .top__menu__social .top__menu {
  display: flex;
  align-items: center;
}

header .head .top__menu--wrapper .top__menu__social .top__menu .select__lang {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  margin-left: 16px;
  padding-left: 34px;
  color: #CECFDE;
  width: 41px;
  height: 36px;
  background: #242633;
  border-radius: 10px;
  position: relative;
}

header .head .top__menu--wrapper .top__menu__social .top__menu .select__lang::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(/img/flags.svg) no-repeat;
  top: 50%;
  left: 10px;
  margin-top: -8px;
}

header .head .top__menu--wrapper .top__menu__social .top__menu .select__lang::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: url(/img/arrow.svg) no-repeat;
  top: 14px;
  right: 5px;
}

header .head .top__menu--wrapper .top__menu__social .social {
  display: flex;
  justify-content: space-between;
}

header .head .top__menu--wrapper .top__menu__social .social a {
  text-decoration: none;
  margin-right: 13px;
}

header .head .top__menu--wrapper .carousel {
  display: block;
  font-size: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transform: translateZ(0);
  height: 104px;
  -webkit-overflow-scrolling: touch;
}

.touch header .head .top__menu--wrapper .carousel {
  overflow: auto;
}

header .head .top__menu--wrapper .carousel[data-at*='left'] > .wrap::before {
  opacity: 1;
  text-indent: -50px;
}

header .head .top__menu--wrapper .carousel[data-at*='right'] > .wrap::after {
  opacity: 1;
  text-indent: -50px;
}

header .head .top__menu--wrapper .carousel > .wrap {
  overflow: hidden;
}

header .head .top__menu--wrapper .carousel > .wrap::before, header .head .top__menu--wrapper .carousel > .wrap::after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 200px;
  pointer-events: none;
  transition: .2s ease-out;
  background: linear-gradient(270deg, rgba(33, 35, 47, 0) 0%, #21232F 100%);
}

header .head .top__menu--wrapper .carousel > .wrap::after {
  transform: rotate(180deg);
  left: auto;
  right: 0;
}

header .head .top__menu--wrapper .carousel > .wrap > ul {
  list-style: none;
  white-space: nowrap;
  height: 104px;
  padding: 0;
}

header .head .top__menu--wrapper .carousel > .wrap > ul > li {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
  transition: 0.25s ease-out;
}

header .head .top__menu--wrapper .carousel > .wrap > ul > li:first-child {
  margin: 0;
}

header .head .top__menu--wrapper .carousel > .wrap > ul > li > img {
  display: block;
  height: 100%;
  margin: auto;
  position: relative;
  z-index: 1;
  transition: 1s ease;
}

header .head .top__menu--wrapper .guns__wrap ul li:nth-child(1) {
  background: url(/img/logo1.png) center no-repeat;
}

header .head .top__menu--wrapper .guns__wrap ul li:nth-child(2),
header .head .top__menu--wrapper .guns__wrap ul li:nth-child(3) {
  background: url(/img/logo2_3.png) center no-repeat;
}

header .head .top__menu--wrapper .guns__wrap ul li:nth-child(4),
header .head .top__menu--wrapper .guns__wrap ul li:nth-child(5),
header .head .top__menu--wrapper .guns__wrap ul li:nth-child(13) {
  background: url(/img/logo4_5.png) center no-repeat;
}

header .head .top__menu--wrapper .guns__wrap ul li:nth-child(6),
header .head .top__menu--wrapper .guns__wrap ul li:nth-child(7) {
  background: url(/img/logo6_7.png) center no-repeat;
}

header .head .top__menu--wrapper .guns__wrap ul li:nth-child(8) {
  background: url(/img/logo8.png) center no-repeat;
}

header .head .top__menu--wrapper .guns__wrap ul li:nth-child(9),
header .head .top__menu--wrapper .guns__wrap ul li:nth-child(10) {
  background: url(/img/logo9_10.png) center no-repeat;
}

header .head .top__menu--wrapper .guns__wrap ul li:nth-child(11),
header .head .top__menu--wrapper .guns__wrap ul li:nth-child(14) {
  background: url(/img/logo11.png) center no-repeat;
}

header .head .top__menu--wrapper .guns__wrap ul li:nth-child(12),
header .head .top__menu--wrapper .guns__wrap ul li:nth-child(15),
header .head .top__menu--wrapper .guns__wrap ul li:nth-child(16) {
  background: url(/img/logo12.png) center no-repeat;
}

header .head .top__menu--wrapper .bottom__menu {
  display: flex;
  background: #21232F;
  border-radius: 0px 0px 12px 0px;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

header .head .top__menu--wrapper .bottom__menu .menu ul {
  display: flex;
}

header .head .top__menu--wrapper .bottom__menu .profile {
  display: flex;
  align-items: center;
}

header .head .top__menu--wrapper .bottom__menu .profile .notify {
  background: url(/img/notify.svg) no-repeat center;
  margin-right: 15px;
}

header .head .top__menu--wrapper .bottom__menu .profile .notify::after {
  width: 18px;
  height: 18px;
  top: -5px;
  background: url(/img/badge.svg) no-repeat;
}

header .head .top__menu--wrapper .bottom__menu .profile .user {
  display: flex;
}

header .head .top__menu--wrapper .bottom__menu .profile .user .photo {
  margin-right: 14px;
}

header .head .top__menu--wrapper .bottom__menu .profile .user .name {
  font-family: Gotham;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #E9E9E9;
  margin-right: 22px;
}

header .head .top__menu--wrapper .bottom__menu .profile .user .name .balance {
  font-family: Gotham;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #63DEB1;
}

header .head .top__menu--wrapper .bottom__menu .profile .buttons {
  display: inline-block;
  margin: 10px;
  width: 120px;
  height: 46px;
  text-align: start;
  padding-left: 21px;
  border: none;
  border-radius: 7px;
  font-family: "FS Elliot Pro";
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  appearance: none;
  background: rgba(95, 177, 123, 0.7);
  opacity: 0.9;
  color: #F1FFDE;
  position: relative;
  margin-right: 11px;
  z-index: 2;
}

header .head .top__menu--wrapper .bottom__menu .profile .buttons:hover {
  transition: all 0.7s;
  color: #fff;
  background: rgba(130, 212, 158, 0.7);
}

header .head .top__menu--wrapper .bottom__menu .profile .buttons::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  background-image: url(/img/refil.svg);
  background-repeat: no-repeat;
  background-size: contain;
  top: 11px;
  right: 20px;
}

header .head .top__menu--wrapper .bottom__menu .profile .buttons:active {
  opacity: 0.6;
}

header .head .top__menu--wrapper .bottom__menu .profile .exit {
  background: url(/img/exit.svg) no-repeat center;
  margin-right: 15px;
}

header .head .top__menu--wrapper .bottom__menu .profile .exit::after {
  display: none;
}

.banner {
  margin: 0 auto;
  max-width: 2008px;
  position: relative;
}

.banner::before {
  content: "";
  position: absolute;
  width: 461px;
  height: 190px;
  background-image: url(/img/bannerLogoLeft.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: -27px;
}

@media (max-width: 1440px) {
  .banner::before {
    display: none;
  }
}

.banner::after {
  content: "";
  position: absolute;
  width: 297px;
  height: 226px;
  background-image: url(/img/bannerImgCenter.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: -33px;
  right: 30.43%;
}

@media (max-width: 1440px) {
  .banner::after {
    display: none;
  }
}

.banner .banner__inner {
  display: flex;
  background: #2E2F40;
  border-radius: 10px;
  margin-left: 65px;
  margin-top: 26px;
  margin-right: 95px;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1080px) {
  .banner .banner__inner {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.banner .banner__inner::after {
  content: "";
  position: absolute;
  width: 423px;
  height: 187px;
  background-image: url(/img/bannerImgLeft.png);
  background-repeat: no-repeat;
  background-size: contain;
  bottom: -45px;
  right: 12px;
}

@media (max-width: 1440px) {
  .banner .banner__inner::after {
    display: none;
  }
}

.banner .banner__inner .timer {
  display: flex;
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  border: 1px solid #3A3B4B;
  border-radius: 7px;
  margin: 25px;
  margin-bottom: 23px;
  margin-left: 357px;
  align-items: center;
  z-index: 2;
}

@media (max-width: 1440px) {
  .banner .banner__inner .timer {
    margin: 0;
  }
}

.banner .banner__inner .timer .timer__logo {
  margin: 19px;
}

.banner .banner__inner .timer .days {
  background: #3D3E50;
  box-shadow: 0px 17px 21px rgba(31, 32, 45, 0.5);
  border-radius: 5px;
  width: 102px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 13px;
  color: #CECFDE;
}

.banner .banner__inner .timer .clock {
  display: flex;
  width: 34px;
  height: 52px;
  align-items: center;
  background: #343545;
  box-shadow: 0px 17px 21px rgba(31, 32, 45, 0.5);
  border-radius: 5px;
  color: #B1B1C1;
  justify-content: center;
  margin-right: 5px;
}

.banner .banner__inner .timer .clock:last-child {
  margin-right: 11px;
}

.banner .banner__inner .timer .timer__colon {
  margin-right: 5px;
}

.banner .banner__inner .buttons__wrapper {
  display: flex;
}

.banner .banner__inner .buttons {
  display: inline-block;
  margin: 10px;
  width: 212px;
  height: 72px;
  text-align: start;
  padding-left: 25px;
  border: none;
  border-radius: 7px;
  font-family: "FS Elliot Pro";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  appearance: none;
  background-color: transparent;
  backdrop-filter: blur(7px);
  z-index: 99999;
}

.banner .banner__inner .buttons:hover {
  transition: all 0.7s;
  color: #fff;
}

.banner .banner__inner .present {
  background: rgba(95, 177, 123, 0.7);
  opacity: 0.9;
  color: #F1FFDE;
  position: relative;
  margin-right: 11px;
  z-index: 2;
}

.banner .banner__inner .present::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 31px;
  background-image: url(/img/iconPresent.svg);
  background-repeat: no-repeat;
  background-size: contain;
  top: 21px;
  right: 25px;
}

.banner .banner__inner .present::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  background-image: url(/img/markerRed.svg);
  background-repeat: no-repeat;
  background-size: contain;
  top: 20px;
  right: 16px;
}

.banner .banner__inner .present:hover {
  background: rgba(130, 212, 158, 0.7);
}

.banner .banner__inner .present:active {
  opacity: 0.6;
}

.banner .banner__inner .event {
  background: rgba(112, 117, 234, 0.7);
  color: #F2F0FF;
  margin-right: 24px;
  position: relative;
  z-index: 2;
}

.banner .banner__inner .event::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 31px;
  background-image: url(/img/iconEvent.svg);
  background-repeat: no-repeat;
  background-size: contain;
  top: 24px;
  right: 24px;
}

.banner .banner__inner .event:hover {
  background: rgba(138, 142, 245, 0.7);
}

.banner .banner__inner .event:active {
  opacity: 0.6;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 34px;
}

.content .black-friday {
  position: relative;
}

.content .cases {
  display: flex;
  margin: -20px 109px 207px;
  flex-wrap: wrap;
  justify-content: center;
}

.content .cases .case {
  margin-right: -14px;
}

.content .cases .case .price {
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  position: relative;
  color: #231B02;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .cases .case .price::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 38px;
  background: #EEAC64;
  border-radius: 2px;
  transform: matrix(0.98, 0, -0.22, 1, 0, 0);
  z-index: -2;
}

.content .cases .case .price-old {
  font-family: "DIN Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: line-through;
  color: #FFFFFF;
  position: absolute;
  top: -6px;
  left: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .cases .case .price-old::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 32px;
  background: #DC4B42;
  border-radius: 2px;
  transform: matrix(0.98, 0, -0.22, 1, 0, 0);
  z-index: -2;
}

.content .cases .case .text {
  font-family: DIN Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  margin-top: 20px;
  color: #FFFFFF;
}

.footer {
  background: linear-gradient(180deg, #17171F 0%, #14141C 100%);
  max-width: 2020px;
  height: 320px;
  margin: 0 auto;
  position: relative;
}

.footer .footer__top {
  display: flex;
  justify-content: center;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 218px;
}

.footer .footer__top .footer__menu {
  margin-right: 40px;
}

.footer .footer__top .footer__menu .copyright {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 900;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 32px;
  margin-top: 41px;
}

.footer .footer__top .footer__menu .copyright p {
  margin-top: 2px;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #CECFD6;
  text-transform: none;
}

.footer .footer__top .footer__menu .footer__menu__list {
  padding: 0;
}

.footer .footer__top .footer__menu .footer__menu__list li {
  margin-top: 20px;
}

.footer .footer__top .footer__menu .footer__menu__list li a {
  font-family: "Gotham";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #90929E;
  text-decoration: none;
}

.footer .footer__top .footer__statistic__conteiner {
  background: linear-gradient(260.7deg, rgba(26, 26, 32, 0.5) 19.27%, rgba(29, 29, 37, 0.5) 90.31%);
  border-radius: 80px;
  flex-grow: 1;
  max-width: 1330px;
}

.footer .footer__top .footer__statistic__conteiner .statistic__inner {
  margin-top: 70px;
  margin-bottom: 30px;
  margin-left: 84px;
}

.footer .footer__top .footer__statistic__conteiner .statistic__inner ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 494px;
  justify-content: space-between;
}

.footer .footer__top .footer__statistic__conteiner .statistic__inner ul .statistic__list {
  margin-bottom: 40px;
}

.footer .footer__top .footer__statistic__conteiner .statistic__inner ul .statistic__list .num {
  display: inline-block;
  font-family: "Gotham";
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  color: #F5F5F5;
  margin-bottom: 2px;
  margin-left: 14px;
}

.footer .footer__top .footer__statistic__conteiner .statistic__inner ul .statistic__list .num p {
  font-family: Gotham;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  color: #71727D;
}

.footer .footer__top .footer__statistic__conteiner .statistic__inner::before {
  content: "";
  position: absolute;
  width: 564px;
  height: 373px;
  left: calc(50% - 588px/2 + 598px);
  top: -72px;
  background-image: url(/img/character.png);
  background-repeat: no-repeat;
}

@media (max-width: 1750px) {
  .footer .footer__top .footer__statistic__conteiner .statistic__inner::before {
    display: none;
  }
}
